

.inner{
    overflow: hidden;
}

.text1:hover{
    text-decoration: none;
}


.inner img {
    transition: all 1.5s ease;
    height: 200px;
    height: 200px;
}

.inner:hover img {
    transform: scale(1.5);
}

.container{
    margin-top:1%;
    margin-bottom: 3%;
    
}

.title-why{
    margin-bottom: 1%; 
    
}

.title-why-us{
color: rgb(75 57 181);
}

.sub-title-why{
    color: rgb(75 57 181);
}

.card-why:hover{
    transform: scale(1.13);
    
}

.card-why{
transition: 0.6s ease;
}


.nav-why{
    text-align: right;
    
}


.About-nav:hover{
    transform: scale(1.2);
}

.About-nav {
    transition: 0.5s ease;
    
 }


 .why-nav:hover{
    transform: scale(1.2);
    
}

.why-nav{
    transition: 0.5s ease;
 }

 .contact-nav:hover{
    transform: scale(1.2);
}

.contact-nav{
    transition: 0.5s ease;
 }

 .Home-nav:hover{
    
    transform: scale(1.2);
}

.Home-nav{
    margin-right:7.5%;
    transition: 0.5s ease;
 }

 

 .section-0{
     margin-top: -2.5%;
     background-image: url(../img/b.png);
      background-size: cover;
       width: auto ;
       height: 89vh;
 }



.section-1 {
    padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
    color: rgb(75 57 181);

}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

 